resetting browser stuff
*     {
    box-sizing: border-box;
  }
  html,
  body   {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
  }
  
  /* styling our overall page */
  body     {
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* styling our header */
  header   {
    background: #222;
    color: #FFF;
    padding: 20px 30px;
  }
  
  /* logo */
  #logo         {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
  }
  #logo img    {
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  #logo span   {
    display: inline-block;
  }
  
  /* main navigation */
  nav     {
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  nav ul   {
    list-style: none;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a    {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
  
  /* styling our footer */
  footer   {
    background: #222;
    color: #777;
    padding: 40px;
    text-align: center;
  }
  footer img   {
    display: block;
    border-radius: 5px;
    width: 80px;
    margin: 0 auto 10px;
  }
  fieldset{
      margin: 0 auto;
      width: 40%;
      text-align: center;
  
      display: block;
    

      
  }
  label{
      text-align: center; 
      margin-top: 10%;
  }
  input{
      width:40%; 
      height: 40%;
      padding: 2%;
      margin-top: 2%;
     
  }

  /* label{
    grid-template-columns: auto auto;
  } */
  .main{
      /* border-style:solid;
      width:30%;
      height:100%;
      align-self: auto; */
      /* height: 100%;
      background-color: white;
      display: flex;
      margin-left: auto;
      margin-right: auto; */

  }
  .main label{
      text-align: center;
  } 
  /* styling our main content */
.container{
    background-color: aquamarine;
}
.container h1, p{
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
}
.signup{
text-align: center;
}
.signup button{

        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      }
      
      .signup button:hover {background-color: #3e8e41}
      
      .signup button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
      .content{
          width: 150%;
          height:150%;
          background-image: url("cou.jpg");
          background-color: #cccccc;
      }







 